<%- include("partials/header"); -%>

<img class="stephs-blog-hero-image" src="/images/stephs-blog-hero.jpg" ></img>


<% postsHome.forEach(function(elem){ %>
  <h1><%= elem.postTitle %></h1>
  <p><%= elem.paragraphs[0].substring(0,200)+ "..."; %>

  <a href="https://rocky-reaches-57032.herokuapp.com/posts/<%=elem._id%>">Read more</a>
  </p>

<% }) %>


<%- include("partials/footer"); -%>
<%# https://rocky-reaches-57032.herokuapp.com/posts %>
<%# http://localhost:3000/posts/ %>
