<%- include("partials/header"); -%>

<% postsHome.forEach(function(elem){ %>
  <h1><%= elem.postTitle %></h1>
  <p><%= elem.postParagraph.substring(0,200)+ "..."; %>

  <a href="https://rocky-reaches-57032.herokuapp.com/posts/<%=elem._id%>">Read more</a>
  </p>

<% }) %>


<%- include("partials/footer"); -%>
