<%- include("partials/header"); -%>

<% postsHome.forEach(function(elem){ %>
  <h1><%= elem.postTitle %></h1>
  <p><%= elem.postParagraph.slice(0,200) %>

  <a href="https://rocky-reaches-57032.herokuapp.com/posts/<%=elem._id%>">...read more</a>

  </p>

<% }) %>






<%- include("partials/footer"); -%>
