<%- include("partials/header"); -%>

<div class='post-image-container'>
  <img class="post-hero-image" src= <%= image %> alt="">
</div>

<h1> <%= title%> </h1>
<div class='paragraphs-container'>

<% content.forEach((e)=>{%>
  <p class="indent">
  <%= e %>
  </p>
<%})%>

</div>



<%- include("partials/footer"); -%>
